/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/dealer_info
/vendor
Dockerfile
/nginx
docker-compose.yaml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vagrant
/.discovery
